.f-ubundu{
  font-family: 'Ubuntu', sans-serif;
}
.bg-skyblue{
  background-color: #41B4D8;
}
.bg-golden{
  background-color: #CA9C5E;
}
.bg-grey{
  background-color: #eeeeee;
}
.crd_h{
    min-height: -webkit-fill-available;
}
.small-cap{
    font-variant: small-caps;
}
.ctry_flag{
    height:31px;
    width: 46px;
}
.ctry_flag:hover{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(0.95, 0.95);
    border: 2px solid #CA9C5E!important;
}
.flag a{
    text-decoration: none;
}
/*-----------------input mobile number-------*/
.input-group > .intl-tel-input.allow-dropdown {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}

.input-group > .intl-tel-input.allow-dropdown > .flag-container {
    z-index: 4;
}

.iti-flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .iti-flag {
      background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.6/img/flags@2x.png");
    }
}
.in_putbox{
    display: block;
    width: 100%;
    height: calc(2.25em + 0.75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #41B4D8;
    border-radius: 1rem;
}